USE [master]
GO
USE [master]
GO
USE [master]
GO
/****** Object:  Database [TurismoAvesDB3]    Script Date: 25/9/2025 14:03:52 ******/
CREATE DATABASE [TurismoAvesDB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TurismoAvesDB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCALHOST\MSSQL\DATA\TurismoAvesDB3.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TurismoAvesDB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCALHOST\MSSQL\DATA\TurismoAvesDB3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TurismoAvesDB3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TurismoAvesDB3]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularCostoReservacion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularCostoReservacion]
(
    @IdReserva INT,
    @Fecha DATE,
    @Adultos INT,
    @Ninos INT
)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @Costo DECIMAL(12,2);

    SELECT @Costo = (@Adultos * CostoAdulto + @Ninos * CostoNino)
    FROM CupoReserva
    WHERE IdReserva = @IdReserva AND Fecha = @Fecha;

    RETURN ISNULL(@Costo,0);
END;
GO
/****** Object:  Table [dbo].[ReservaNatural]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaNatural](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Ubicacion] [nvarchar](250) NULL,
	[CupoDiarioDefault] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
	[IdMunicipio] [int] NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[ImagenRef] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CupoReserva]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CupoReserva](
	[IdCupoReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[CupoTotal] [int] NOT NULL,
	[CupoDisponible] [int] NOT NULL,
	[CostoAdulto] [decimal](10, 2) NOT NULL,
	[CostoNino] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCupoReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CupoReserva] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Disponibilidad]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTAS
-- ============================================================

-- Vista: Disponibilidad de reservas
CREATE   VIEW [dbo].[vw_Disponibilidad]
AS
SELECT r.Nombre AS Reserva,
       c.Fecha,
       c.CupoTotal,
       c.CupoDisponible,
       c.CostoAdulto,
       c.CostoNino
FROM CupoReserva c
JOIN ReservaNatural r ON r.IdReserva=c.IdReserva;
GO
/****** Object:  Table [dbo].[RutaTuristica]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutaTuristica](
	[IdRuta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[DuracionMinutos] [int] NULL,
	[Dificultad] [nvarchar](50) NULL,
	[Activa] [bit] NOT NULL,
	[IdMunicipio] [int] NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiaTuristico]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiaTuristico](
	[IdGuia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Correo] [nvarchar](150) NULL,
	[Idiomas] [nvarchar](250) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGuia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[IdReservacion] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[IdRuta] [int] NOT NULL,
	[IdGuia] [int] NULL,
	[FechaReserva] [date] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ClienteNombre] [nvarchar](200) NOT NULL,
	[ClienteCorreo] [nvarchar](150) NULL,
	[CantAdultos] [int] NOT NULL,
	[CantNinos] [int] NOT NULL,
	[TotalPersonas]  AS ([CantAdultos]+[CantNinos]) PERSISTED,
	[CostoTotal] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Notas] [nvarchar](1000) NULL,
	[CreadoPor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Reservaciones]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: Reservaciones con detalle
CREATE   VIEW [dbo].[vw_Reservaciones]
AS
SELECT res.IdReservacion,
       res.ClienteNombre,
       res.ClienteCorreo,
       res.FechaReserva,
       res.CantAdultos,
       res.CantNinos,
       res.CostoTotal,
       res.Estado,
       r.Nombre AS Reserva,
       rt.Nombre AS Ruta,
       g.Nombre + ' ' + g.Apellido AS Guia
FROM Reservacion res
JOIN ReservaNatural r ON res.IdReserva=r.IdReserva
JOIN RutaTuristica rt ON res.IdRuta=rt.IdRuta
LEFT JOIN GuiaTuristico g ON res.IdGuia=g.IdGuia;
GO
/****** Object:  Table [dbo].[TipoMigracion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMigracion](
	[IdTipoMigracion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoMigracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ave]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ave](
	[IdAve] [int] IDENTITY(1,1) NOT NULL,
	[NombreComun] [nvarchar](150) NOT NULL,
	[NombreCientifico] [nvarchar](150) NULL,
	[IdTipoAve] [int] NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MigracionAve]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigracionAve](
	[IdMigracion] [int] IDENTITY(1,1) NOT NULL,
	[IdAve] [int] NOT NULL,
	[IdTipoMigracion] [int] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Notas] [nvarchar](1000) NULL,
	[RutaMigracion] [nvarchar](1000) NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMigracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MigracionReserva]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigracionReserva](
	[IdMigracionReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdMigracion] [int] NOT NULL,
	[IdReserva] [int] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Notas] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMigracionReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigracionReserva] UNIQUE NONCLUSTERED 
(
	[IdMigracion] ASC,
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AvesPorReserva]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_AvesPorReserva]
AS
SELECT 
    rn.Nombre AS Reserva,
    a.NombreComun AS Ave,
    a.NombreCientifico,
    tm.Nombre AS TipoMigracion,
    ISNULL(mr.FechaInicio, ma.FechaInicio) AS FechaInicio,
    ISNULL(mr.FechaFin, ma.FechaFin) AS FechaFin,
    ISNULL(mr.Notas, ma.Notas) AS Notas
FROM MigracionReserva mr
JOIN MigracionAve ma ON mr.IdMigracion = ma.IdMigracion
JOIN Ave a ON ma.IdAve = a.IdAve
JOIN TipoMigracion tm ON ma.IdTipoMigracion = tm.IdTipoMigracion
JOIN ReservaNatural rn ON mr.IdReserva = rn.IdReserva;
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[AdministradorID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdministradorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[AdministradorID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdministradorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adminReservaNatural]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminReservaNatural](
	[ReservaNaturalID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Municipio] [nvarchar](150) NULL,
	[Localidad] [nvarchar](150) NULL,
	[UbicacionTexto] [nvarchar](300) NULL,
	[Coordenadas] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaNaturalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avistamiento]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avistamiento](
	[AvistamientoID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[LugarID] [int] NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[Cantidad] [int] NULL,
	[Observador] [nvarchar](200) NULL,
	[Notas] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[AvistamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogoave]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogoave](
	[Aveid] [int] IDENTITY(1,1) NOT NULL,
	[genero] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Aveid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especie]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especie](
	[EspecieID] [int] IDENTITY(1,1) NOT NULL,
	[GeneroID] [int] NULL,
	[NombreComun] [nvarchar](200) NOT NULL,
	[NombreCientifico] [nvarchar](300) NOT NULL,
	[EstadoConservacion] [nvarchar](100) NULL,
	[TamañoPromedioCM] [decimal](5, 2) NULL,
	[PesoPromedioG] [decimal](6, 2) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Migratoria] [bit] NOT NULL,
	[EstacionMigratoria] [nvarchar](200) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Especie_NombreCientifico] UNIQUE NONCLUSTERED 
(
	[NombreCientifico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieHabitat]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieHabitat](
	[EspecieHabitatID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[HabitatID] [int] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieHabitatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EH] UNIQUE NONCLUSTERED 
(
	[EspecieID] ASC,
	[HabitatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieTag]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieTag](
	[EspecieTagID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ET] UNIQUE NONCLUSTERED 
(
	[EspecieID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[FamiliaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreFamilia] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[GeneroID] [int] IDENTITY(1,1) NOT NULL,
	[FamiliaID] [int] NOT NULL,
	[NombreGenero] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FamiliaID] ASC,
	[NombreGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiaRuta]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiaRuta](
	[IdGuiaRuta] [int] IDENTITY(1,1) NOT NULL,
	[IdGuia] [int] NOT NULL,
	[IdRuta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGuiaRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiasTuristico]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiasTuristico](
	[GuiaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Especialidad] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
	[InfoProfesional] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiasTuristicos]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiasTuristicos](
	[GuiaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Especialidad] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
	[InfoProfesional] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiasTuristicosinfo]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiasTuristicosinfo](
	[GuiaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Especialidad] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
	[InfoProfesional] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitat]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitat](
	[HabitatID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[HabitatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagen]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagen](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[Url] [nvarchar](1000) NULL,
	[Archivo] [varbinary](max) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Autor] [nvarchar](200) NULL,
	[FechaSubida] [datetime2](7) NOT NULL,
	[EsPrincipal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogCupo]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogCupo](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdCupoReserva] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[TipoCambio] [nvarchar](50) NOT NULL,
	[Variacion] [int] NOT NULL,
	[Notas] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Municipio] UNIQUE NONCLUSTERED 
(
	[IdDepartamento] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionLugar]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionLugar](
	[LugarID] [int] IDENTITY(1,1) NOT NULL,
	[NombreLugar] [nvarchar](250) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Latitud] [decimal](9, 6) NULL,
	[Longitud] [decimal](9, 6) NULL,
	[Departamento] [nvarchar](150) NULL,
	[Municipio] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[LugarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referencia]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referencia](
	[ReferenciaID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NULL,
	[Tipo] [nvarchar](100) NULL,
	[TextoReferencia] [nvarchar](2000) NOT NULL,
	[Url] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReferenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroMigracion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroMigracion](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[TipoMigracion] [nvarchar](100) NULL,
	[OrigienRegion] [nvarchar](200) NULL,
	[DestinoRegion] [nvarchar](200) NULL,
	[MesInicio] [int] NULL,
	[MesFin] [int] NULL,
	[Observaciones] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RutaReserva]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutaReserva](
	[IdRutaReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdRuta] [int] NOT NULL,
	[IdReserva] [int] NOT NULL,
	[OrdenSecuencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRutaReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sonido]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sonido](
	[SonidoID] [int] IDENTITY(1,1) NOT NULL,
	[EspecieID] [int] NOT NULL,
	[Url] [nvarchar](1000) NULL,
	[Archivo] [varbinary](max) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Autor] [nvarchar](200) NULL,
	[FechaSubida] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SonidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Tag_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAve]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAve](
	[IdTipoAve] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoAve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuarioRol] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuarioRol] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Administradores] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[adminReservaNatural] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ave] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[Ave] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Especie] ADD  DEFAULT ((0)) FOR [Migratoria]
GO
ALTER TABLE [dbo].[Especie] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[GuiaTuristico] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Imagen] ADD  DEFAULT (sysutcdatetime()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[Imagen] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[LogCupo] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[MigracionAve] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[MigracionAve] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT ('CONFIRMADA') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[ReservaNatural] ADD  DEFAULT ((20)) FOR [CupoDiarioDefault]
GO
ALTER TABLE [dbo].[ReservaNatural] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[ReservaNatural] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[ReservaNatural] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[RutaTuristica] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[RutaTuristica] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[RutaTuristica] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Sonido] ADD  DEFAULT (sysutcdatetime()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Ave]  WITH CHECK ADD  CONSTRAINT [FK_Ave_TipoAve] FOREIGN KEY([IdTipoAve])
REFERENCES [dbo].[TipoAve] ([IdTipoAve])
GO
ALTER TABLE [dbo].[Ave] CHECK CONSTRAINT [FK_Ave_TipoAve]
GO
ALTER TABLE [dbo].[Ave]  WITH CHECK ADD  CONSTRAINT [FK_Ave_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Ave] CHECK CONSTRAINT [FK_Ave_Usuario]
GO
ALTER TABLE [dbo].[Avistamiento]  WITH CHECK ADD  CONSTRAINT [FK_Av_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[Avistamiento] CHECK CONSTRAINT [FK_Av_Especie]
GO
ALTER TABLE [dbo].[Avistamiento]  WITH CHECK ADD  CONSTRAINT [FK_Av_Lugar] FOREIGN KEY([LugarID])
REFERENCES [dbo].[ObservacionLugar] ([LugarID])
GO
ALTER TABLE [dbo].[Avistamiento] CHECK CONSTRAINT [FK_Av_Lugar]
GO
ALTER TABLE [dbo].[CupoReserva]  WITH CHECK ADD  CONSTRAINT [FK_CupoReserva_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[ReservaNatural] ([IdReserva])
GO
ALTER TABLE [dbo].[CupoReserva] CHECK CONSTRAINT [FK_CupoReserva_Reserva]
GO
ALTER TABLE [dbo].[Especie]  WITH CHECK ADD  CONSTRAINT [FK_Especie_Genero] FOREIGN KEY([GeneroID])
REFERENCES [dbo].[Genero] ([GeneroID])
GO
ALTER TABLE [dbo].[Especie] CHECK CONSTRAINT [FK_Especie_Genero]
GO
ALTER TABLE [dbo].[EspecieHabitat]  WITH CHECK ADD  CONSTRAINT [FK_EH_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[EspecieHabitat] CHECK CONSTRAINT [FK_EH_Especie]
GO
ALTER TABLE [dbo].[EspecieHabitat]  WITH CHECK ADD  CONSTRAINT [FK_EH_Habitat] FOREIGN KEY([HabitatID])
REFERENCES [dbo].[Habitat] ([HabitatID])
GO
ALTER TABLE [dbo].[EspecieHabitat] CHECK CONSTRAINT [FK_EH_Habitat]
GO
ALTER TABLE [dbo].[EspecieTag]  WITH CHECK ADD  CONSTRAINT [FK_ET_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[EspecieTag] CHECK CONSTRAINT [FK_ET_Especie]
GO
ALTER TABLE [dbo].[EspecieTag]  WITH CHECK ADD  CONSTRAINT [FK_ET_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[EspecieTag] CHECK CONSTRAINT [FK_ET_Tag]
GO
ALTER TABLE [dbo].[Genero]  WITH CHECK ADD  CONSTRAINT [FK_Genero_Familia] FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familia] ([FamiliaID])
GO
ALTER TABLE [dbo].[Genero] CHECK CONSTRAINT [FK_Genero_Familia]
GO
ALTER TABLE [dbo].[GuiaRuta]  WITH CHECK ADD  CONSTRAINT [FK_GuiaRuta_Guia] FOREIGN KEY([IdGuia])
REFERENCES [dbo].[GuiaTuristico] ([IdGuia])
GO
ALTER TABLE [dbo].[GuiaRuta] CHECK CONSTRAINT [FK_GuiaRuta_Guia]
GO
ALTER TABLE [dbo].[GuiaRuta]  WITH CHECK ADD  CONSTRAINT [FK_GuiaRuta_Ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[RutaTuristica] ([IdRuta])
GO
ALTER TABLE [dbo].[GuiaRuta] CHECK CONSTRAINT [FK_GuiaRuta_Ruta]
GO
ALTER TABLE [dbo].[Imagen]  WITH CHECK ADD  CONSTRAINT [FK_Imagen_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[Imagen] CHECK CONSTRAINT [FK_Imagen_Especie]
GO
ALTER TABLE [dbo].[LogCupo]  WITH CHECK ADD  CONSTRAINT [FK_LogCupo] FOREIGN KEY([IdCupoReserva])
REFERENCES [dbo].[CupoReserva] ([IdCupoReserva])
GO
ALTER TABLE [dbo].[LogCupo] CHECK CONSTRAINT [FK_LogCupo]
GO
ALTER TABLE [dbo].[MigracionAve]  WITH CHECK ADD  CONSTRAINT [FK_Migracion_Ave] FOREIGN KEY([IdAve])
REFERENCES [dbo].[Ave] ([IdAve])
GO
ALTER TABLE [dbo].[MigracionAve] CHECK CONSTRAINT [FK_Migracion_Ave]
GO
ALTER TABLE [dbo].[MigracionAve]  WITH CHECK ADD  CONSTRAINT [FK_Migracion_Tipo] FOREIGN KEY([IdTipoMigracion])
REFERENCES [dbo].[TipoMigracion] ([IdTipoMigracion])
GO
ALTER TABLE [dbo].[MigracionAve] CHECK CONSTRAINT [FK_Migracion_Tipo]
GO
ALTER TABLE [dbo].[MigracionAve]  WITH CHECK ADD  CONSTRAINT [FK_MigracionAve_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[MigracionAve] CHECK CONSTRAINT [FK_MigracionAve_Usuario]
GO
ALTER TABLE [dbo].[MigracionReserva]  WITH CHECK ADD  CONSTRAINT [FK_MigracionReserva_Migracion] FOREIGN KEY([IdMigracion])
REFERENCES [dbo].[MigracionAve] ([IdMigracion])
GO
ALTER TABLE [dbo].[MigracionReserva] CHECK CONSTRAINT [FK_MigracionReserva_Migracion]
GO
ALTER TABLE [dbo].[MigracionReserva]  WITH CHECK ADD  CONSTRAINT [FK_MigracionReserva_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[ReservaNatural] ([IdReserva])
GO
ALTER TABLE [dbo].[MigracionReserva] CHECK CONSTRAINT [FK_MigracionReserva_Reserva]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Departamento] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_Municipio_Departamento]
GO
ALTER TABLE [dbo].[Referencia]  WITH CHECK ADD  CONSTRAINT [FK_Ref_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[Referencia] CHECK CONSTRAINT [FK_Ref_Especie]
GO
ALTER TABLE [dbo].[RegistroMigracion]  WITH CHECK ADD  CONSTRAINT [FK_RegMig_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[RegistroMigracion] CHECK CONSTRAINT [FK_RegMig_Especie]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Guia] FOREIGN KEY([IdGuia])
REFERENCES [dbo].[GuiaTuristico] ([IdGuia])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Guia]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[ReservaNatural] ([IdReserva])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Reserva]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[RutaTuristica] ([IdRuta])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Ruta]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Usuario]
GO
ALTER TABLE [dbo].[ReservaNatural]  WITH CHECK ADD  CONSTRAINT [FK_ReservaNatural_Municipio] FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[ReservaNatural] CHECK CONSTRAINT [FK_ReservaNatural_Municipio]
GO
ALTER TABLE [dbo].[ReservaNatural]  WITH CHECK ADD  CONSTRAINT [FK_ReservaNatural_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[ReservaNatural] CHECK CONSTRAINT [FK_ReservaNatural_Usuario]
GO
ALTER TABLE [dbo].[RutaReserva]  WITH CHECK ADD  CONSTRAINT [FK_RutaReserva_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[ReservaNatural] ([IdReserva])
GO
ALTER TABLE [dbo].[RutaReserva] CHECK CONSTRAINT [FK_RutaReserva_Reserva]
GO
ALTER TABLE [dbo].[RutaReserva]  WITH CHECK ADD  CONSTRAINT [FK_RutaReserva_Ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[RutaTuristica] ([IdRuta])
GO
ALTER TABLE [dbo].[RutaReserva] CHECK CONSTRAINT [FK_RutaReserva_Ruta]
GO
ALTER TABLE [dbo].[RutaTuristica]  WITH CHECK ADD  CONSTRAINT [FK_RutaTuristica_Municipio] FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[RutaTuristica] CHECK CONSTRAINT [FK_RutaTuristica_Municipio]
GO
ALTER TABLE [dbo].[RutaTuristica]  WITH CHECK ADD  CONSTRAINT [FK_RutaTuristica_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[RutaTuristica] CHECK CONSTRAINT [FK_RutaTuristica_Usuario]
GO
ALTER TABLE [dbo].[Sonido]  WITH CHECK ADD  CONSTRAINT [FK_Sonido_Especie] FOREIGN KEY([EspecieID])
REFERENCES [dbo].[Especie] ([EspecieID])
GO
ALTER TABLE [dbo].[Sonido] CHECK CONSTRAINT [FK_Sonido_Especie]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD CHECK  (([CantAdultos]>=(0)))
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD CHECK  (([CantAdultos]>=(0)))
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD CHECK  (([CantNinos]>=(0)))
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD CHECK  (([CantNinos]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelarReservacion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelarReservacion]
    @IdReservacion INT,
    @Motivo NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;
    BEGIN TRY
        DECLARE @IdReserva INT,@Fecha DATE,@Total INT,@IdCupo INT;

        SELECT @IdReserva=IdReserva,@Fecha=FechaReserva,@Total=TotalPersonas
        FROM Reservacion WHERE IdReservacion=@IdReservacion;

        IF @IdReserva IS NULL
        BEGIN
            ROLLBACK;
            RAISERROR('Reservación no encontrada.',16,1);
            RETURN;
        END

        SELECT @IdCupo=IdCupoReserva
        FROM CupoReserva WITH (UPDLOCK,HOLDLOCK)
        WHERE IdReserva=@IdReserva AND Fecha=@Fecha;

        UPDATE Reservacion
        SET Estado='CANCELADA', Notas=CONCAT(ISNULL(Notas,''),' | CANCELADA: ',@Motivo)
        WHERE IdReservacion=@IdReservacion;

        IF @IdCupo IS NOT NULL
        BEGIN
            UPDATE CupoReserva SET CupoDisponible=CupoDisponible+@Total
            WHERE IdCupoReserva=@IdCupo;

            INSERT INTO LogCupo(IdCupoReserva,TipoCambio,Variacion,Notas)
            VALUES(@IdCupo,'CANCELACION',@Total,CONCAT('Cancelacion=',@IdReservacion));
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        IF XACT_STATE()<>0 ROLLBACK;
        RAISERROR('Error al cancelar la reservación: %s',16,1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearReservacion]    Script Date: 25/9/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearReservacion]
    @IdReserva INT,
    @IdRuta INT,
    @IdGuia INT = NULL,
    @Fecha DATE,
    @ClienteNombre NVARCHAR(200),
    @ClienteCorreo NVARCHAR(150),
    @Adultos INT,
    @Ninos INT,
    @Notas NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TotalPersonas INT = @Adultos + @Ninos;
    DECLARE @IdCupo INT, @Disponibles INT, @Costo DECIMAL(12,2);

    IF @TotalPersonas <= 0
    BEGIN
        RAISERROR('Debe reservar al menos una persona.',16,1);
        RETURN;
    END

    BEGIN TRAN;
    BEGIN TRY
        SELECT @IdCupo = IdCupoReserva, 
               @Disponibles = CupoDisponible
        FROM CupoReserva WITH (UPDLOCK, HOLDLOCK)
        WHERE IdReserva = @IdReserva AND Fecha = @Fecha;

        IF @IdCupo IS NULL
        BEGIN
            ROLLBACK;
            RAISERROR('No existe disponibilidad configurada para esa fecha.',16,1);
            RETURN;
        END

        IF @Disponibles < @TotalPersonas
        BEGIN
            ROLLBACK;
            RAISERROR('No hay cupos suficientes. Disponibles: %d',16,1,@Disponibles);
            RETURN;
        END

        SET @Costo = dbo.fn_CalcularCostoReservacion(@IdReserva,@Fecha,@Adultos,@Ninos);

        INSERT INTO Reservacion (IdReserva, IdRuta, IdGuia, FechaReserva, ClienteNombre, ClienteCorreo,
                                 CantAdultos, CantNinos, CostoTotal, Estado, Notas)
        VALUES (@IdReserva,@IdRuta,@IdGuia,@Fecha,@ClienteNombre,@ClienteCorreo,
                @Adultos,@Ninos,@Costo,'CONFIRMADA',@Notas);

        DECLARE @IdReservacion INT = SCOPE_IDENTITY();

        UPDATE CupoReserva
        SET CupoDisponible = CupoDisponible - @TotalPersonas
        WHERE IdCupoReserva = @IdCupo;

        INSERT INTO LogCupo (IdCupoReserva,TipoCambio,Variacion,Notas)
        VALUES (@IdCupo,'RESERVACION',-@TotalPersonas,CONCAT('Reservacion=',@IdReservacion));

        COMMIT;
        SELECT @IdReservacion AS IdReservacion, @Costo AS CostoTotal;
    END TRY
    BEGIN CATCH
        IF XACT_STATE()<>0 ROLLBACK;
        RAISERROR('Error al crear la reservación: %s',16,1);
    END CATCH
END;
GO
USE [master]
GO
