@model avirisofic.Models.DB.ReservaNatural

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservaNatural</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReserva" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CupoDiarioDefault" class="control-label"></label>
                <input asp-for="CupoDiarioDefault" class="form-control" />
                <span asp-validation-for="CupoDiarioDefault" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activa" /> @Html.DisplayNameFor(model => model.Activa)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdMunicipio" class="control-label"></label>
                <select asp-for="IdMunicipio" class="form-control" asp-items="ViewBag.IdMunicipio"></select>
                <span asp-validation-for="IdMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreadoPor" class="control-label"></label>
                <select asp-for="CreadoPor" class="form-control" asp-items="ViewBag.CreadoPor"></select>
                <span asp-validation-for="CreadoPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
